.main{
    padding: 170px;

}


.a{
    top: 30%;
    left: 30%;
    width: 30%;
    border: 3px solid rgb(4, 4, 150);
    border-radius: 12px;
    padding: 50px;

    text-align: center;
    background-color: rgb(90, 103, 218);
}

.b {
    border: 3px solid rgb(224, 221, 15);
    border-radius: 12px;
    padding: 50px;
    background-color: rgb(48, 64, 156);
}
.c {
    border: 3px solid rgb(219, 219, 10);
    border-radius: 12px;
    padding: 50px;
    background-color: rgb(30, 30, 99);

}
