.a{
    position: absolute;
    top: 30%;
    left: 30%;
    width: 30%;
    border: 2px solid blue;
    border-radius: 12px;
    padding: 50px;

    text-align: center;
    background-color: black;
}

.b {
    border: 2px solid green;
    border-radius: 12px;
    padding: 50px;
    background-color: blueviolet;
}
.c {
    border: 2px solid yellow;
    border-radius: 12px;
    padding: 50px;
    background-color: cyan;

}